*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',monospace ;
    background-color:blue;
    background: rgb(61,54,196);
    background: linear-gradient(180deg, rgba(61,54,196,1) 0%, rgba(118,31,224,1) 85%);
}

html,body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: none;
}

.logo{
    color: white;
    margin-left: 30px;
    padding: 15px;
    font-size: 18px;
    background: none;
}

.logo h1{
    background: none;
}


.items ul{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
}


.items ul li{
    margin-right: 50px;
    list-style: none;
    background: none;
}

.items ul li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    background: none;
}

img{
    background: none;
}

.content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6%;
    background: none;
    width: 100%;
    /* height: 722px; */
    /* height: 100%; */
    flex: 1;
}

.izquierda{
    display: flex;
    flex-direction: column;
    background: none;
}

.izquierda h1{
    font-size: 56px;
    margin-right: 300px;
    color: white;
    background: none;
}

.izquierda a{
    text-decoration: none;
    padding: 10px;
    border-radius: 35px;
    color: white;
    font-size: 17px;
    width: 15%;
    text-align: center;    
    background: rgb(196,54,185);
    background: linear-gradient(90deg, rgba(196,54,185,1) 0%, rgba(31,196,224,1) 100%);
    transition: all 0.3s;
}

.izquierda a:hover{
    color: black;
    /* background: linear-gradient(-90deg, rgba(196,54,185,1) 0%, rgba(31,196,224,1) 100%); */
    
}

.text{
    max-width: 500px;
    max-height: 200px;
    margin-bottom: 20px;
    background: none;
}

.text p{
    color: white;
    background: none;
}


.items{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background: none;
}